
body{
    display: flex;
    flex-direction: column;
}

header, main, footer{
    grid-column: 2/3;
    border: solid 2px darkgray;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}


/* heaader */
header{
    display: flex;
    background-color: #08bdbd;
    flex-wrap: wrap;
    justify-content: center;
}

header img{
    width: 100px;
    border: solid 2px darkgray;
    border-radius: 20px;
    margin: 15px;
}

/* hamberger */
.open{
    display: inline;
}

#menu{
    position: absolute;
    top: 50px;
    right: 20px;
    border: none;
    background-color: transparent;
    font-size: xxx-large;
}

#menu::before{
    content: "☰";
}
#menu.open::before{
    content: "X";
}

nav{
    display: none;
    width: 400px;
    border: solid 2px darkgray;
    background-color: azure;
    border-radius: 5px;
}
nav ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    
}
nav ul li{
    padding: 5px;
    list-style-type: none;
}



/* Main */

main{
    display: flex;
    flex-direction: column;
    grid-template-columns: 1fr;
}

/* hero div */
#hero{
    position: relative;
}

#hero img{
    z-index: -1;
    width: 100%;
    height: auto;
    min-height: 230px;
    border: solid 2px darkgray;
    border-radius: 5px;
    object-fit: cover;
}

#hero h2, #hero p, #hero a{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    /* max-width: 100%; */
    background-color: #e0e0e0c2;
    padding: 5px;
    border-radius: 5px;
}

#hero h2{
    top: 0px;
    min-width: 154px;

}

#hero p{
    top: 50px;
    min-width: 300px;
}

#hero a{
    top: 190px;
}

/* sections */
#spot-light {
    
    margin: 10px;
}
#spot-light img{
    width: 300px;
}

/* articles */

#articles{
    display: grid;
    grid-template-columns: 1fr;
}

#articles h3{
    justify-self: center;
    text-decoration: underline;
}

#articles article{
    border: solid 2px darkgray;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
}
#articles a{
    justify-self: end;
}

/* events */
#events{
    border: solid 2px darkgray;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
}

/* weather */
#weather{
    border: solid 2px darkgray;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
}

/* Footer */
footer{
    text-align: center;
}


/* Discover page */

#welcome{
    text-align: center;
}

.side-bar{
    border: solid 2px darkgray;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
}

.discover-pic{
    position: relative;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;

    
}

.discover-pic img{
    width: 100%;
    height: auto;
    max-width: 400px;
    border-radius: 5px;
    border: solid 2px darkgray;
    object-fit: cover;
    
}

#tall-pic{
    height: 500px;
}

.discover-pic h3{
    position: absolute;
    bottom: 10px;
    padding:5px 0;
    width: 396px;
    text-align: center;
    background-color: rgba(232, 244, 255, 0.692);
}

/* Join us page */
#join-form fieldset{
    border: solid 2px darkgray;
    border-radius: 5px;
}

#join-form label{
    margin-top: 0.5rem;
    display: block;

}

#join-form input{
    display: block;
    width: 98%;
    height: 44px;
    border: solid 2px darkgray;
    border-radius: 3px;
}

#join-form input[type="radio"]{
    display: inline;
    max-height: 20px;
    width: 98%;
}

#join-form input[type="submit"]{
    margin-top: 1rem;
    width: 99%;
}