@media screen and (min-width: 800px) {
    body{
        display: grid;
        grid-template-columns: 1fr 800px 1fr;
    }

/* Main*/
    main{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    nav{
        display: inline;
    }
    nav ul{
        flex-direction: row;
    }



    /* hamberger */
    #menu{
        display: none;
    }

    /* hero */
    #hero{
        grid-column: 1/3;
    }

    /* banner */
    #banner{
        grid-column: 1/3;
    }

    /* spotlight */


    #spotlights{
        grid-column: 1/3;
    }


    /* Discover page */
    #discover{
        display:grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-flow:dense;
    }

    #discover h2{
        grid-column: 1/3;
        text-align: center;
    }

    #welcome{
        grid-column: 1/3;
    }

    .side-bar{
        grid-column: 1/2;
    }

    .discover-pic{
        grid-column: 2/3;
        width: 400px;
        height: 300px;
        margin: 0;
        
    }

    .discover-pic img{
        width: 95%;
        height: auto;
    }

    .discover-pic img:hover{
        border: solid 2px lightblue;
        width: 100%;
        box-shadow: 0 0 50px lightblue;

    }


    /* join us page */
    #join-form{
        grid-column: 1/3;
        max-width: 600px;
        width: 100%;
        justify-self: center;
    }

    /* thankyou page */
    #thankyou{
        grid-column: 1/3;
    }

    /* directory */
    #dir{
        display:inline;
        text-align: center;
    }
    
    #comp-dir-list.show{
        display: table;
        height: 500px;
        border-collapse: collapse;
        border: solid thin darkgray;
    }

    #m-comp-dir-list.show{
        display: none;
    }
}
