:root{
    --page-width: 800px;

    /* Active Colors */
    --bgnd-color: white;
    --border-color: darkgray;
    --font-color: black;
    --link-color: rgb(35, 55, 168);
    --header-color: rgb(72, 228, 255);

}

html{
    background-color: var(--bgnd-color);
}



body{
    font-family: Roboto mono;
    color: var(--font-color);
    padding: 1rem;
}

a {
    color: var(--link-color);
}

header{
    position: relative;
    display: flex;
    max-width: var(--page-width);
    margin: 1rem auto;
    background-color: var(--header-color);
    border: 2px solid var(--border-color);
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}
header img{
    width: 25%;
    height: auto;
    margin: 1rem;
    border: solid 2px var(--border-color);
    border-radius: 5px;
}
Header span{
    height: min-content;
    margin: 1rem;
    font-size: xx-large;
}

#contrastButton{
    border: none;
    border-radius: 5px;
    background-color: transparent;
    color: var(--link-color);
    text-decoration: underline;
}



#menu{
    font-size: 1.5rem;
	border: 0;
	background: none;
 	position: absolute;
	bottom: 10px;
	right: 10px;
}

#menu::before {
	content: "☰";
    color: var(--font-color);
}

#menu.open::before {
	content: "X";
    color: var(--font-color);
}


nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}
nav a , #contrastButton{
    display: none;
    margin-top: 0px;
    padding: 5px;
}

.open > a ,.open > #contrastButton{
    display: inline;
}


main{
    display: grid;
    grid-template-columns: 1fr;
    max-width: var(--page-width);
    margin: 1rem auto;
    margin-top: 0;
}



.hero{
    position: relative;
    max-width: 960px;
}
.hero img{
    width: 100%;
    height: auto;
    border: solid 2px var(--border-color);
    border-radius: 5px;
}

.hero-lable{
    position: absolute;
    top: 25px;
    left: 25px;
}

.hero-lable h2{
    padding: 10px;
    background-color: rgba(207, 206, 206, 0.37);
    border-radius: 5px;
    color: black;
}

.card{
    margin: 5px;
    padding: 5px;
    border: solid 2px var(--border-color);
    border-radius: 5px;
}

h1, h2{
    margin-top: 0;
    text-align: center;
}

ul{
    padding-left: 0px;
}
li{
    list-style-type: none;
}


#map{
    border-radius: 5px;
    margin: 5px;
    width: 100%;
}

footer{
    max-width: var(--page-width);
    margin: 1rem auto;
    text-align: center;
}